:root {
  /* 标题 */
  --vp-home-hero-name-color: #7d4ac9;
  --vp-home-hero-name-background: linear-gradient(#7d4ac9 100%);

  /* 图标背景 */
  --vp-home-hero-image-background-image: linear-gradient( 135deg, #7d4ac9 50%, #5019a2 50%);
  --vp-home-hero-image-filter: blur(56px);

  /* brand按钮 */
  --vp-button-brand-border: #7d4ac9;
  --vp-button-brand-text: #fff;
  --vp-button-brand-bg: #7d4ac9;

  --vp-button-brand-hover-border: #4a119e;
  --vp-button-brand-hover-text: rgb(216, 216, 216);
  --vp-button-brand-hover-bg: #4a119e;

  --vp-button-brand-active-border: #fff;

  /* 主题基色 */
  --vp-c-brand: #7d4ac9;
  --vp-c-brand-light: #7d4ac9;
  --vp-c-brand-dark: #7d4ac9;

  /* 代码块背景色 */
  --vp-code-block-bg: rgba(40,44,52);

  /* tip边框 */
  --vp-custom-block-tip-border: #7d4ac9;
  --vp-custom-block-tip-text: #7d4ac9;
  --vp-custom-block-tip-bg: #7d4ac92e;
}

/* vitepress-demo-preview */
.vitepress-demo-preview__element-plus__container .vitepress-demo-preview-description .vitepress-demo-preview-description__handle-btn {
  justify-content: center !important;
}
