.ld-button {
  @apply ld-primary bg-context text-white p2 cursor-pointer rounded w-fit px-3 hover:opacity-80 border-none;
}

.plain {
  @apply text-context hover:border-context hover:bg-context hover:opacity-100 hover:text-white transition-colors duration-400 ease-in-out;
  background-color: rgba(var(--ld-c-context), 0.2);
  border: 1px solid;
}

.xs {
  @apply p1 px-2;
  font-size: 10px
}

.sm {
  @apply p1.5 px-2.5;
  font-size: 12px
}

.lg {
  @apply p3 px-4;
  font-size: 16px
}

.circle {
  @apply rounded-full;
}

.round {
  @apply rounded-lg;
}

.disabled {
  @apply cursor-not-allowed opacity-50 hover:opacity-50;
}

.success {
  @apply ld-success;
}

.warning {
  @apply ld-warning;
}

.error {
  @apply ld-error;
}

.info {
  @apply ld-info;
}
